@font-face {
    font-family: TradeGothic; 
    src: url(/styles/TradeGothicLTStd.otf);
}

@font-face {
    font-family: TradeGothicBold;
    src: url(/styles/TradeGothicLTStd-Bd2.otf);
}

img {
    width: 300px;
    height: auto;
}

body {
    background-color: white;
}

p {
    font-family: TradeGothic, Verdana, sans-serif;
    font-size: 1em;
    padding: 0.3%;
}

.p1 { 
    text-align: center;
}

h1 {
    font-family: TradeGothicBold, Verdana, sans-serif;
    text-align: center;
    text-shadow: 1px 2px gray;
}

a {
    font-family: TradeGothic, Verdana, sans-serif;
    color: rgb(87, 66, 66, 1);
    font-size: 1.5em;
    text-decoration: none;
}

a:hover {
    color: rgb(87, 66, 66, 0.5);
    cursor: pointer;
}
.dropdown {
    position: relative; 
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none; 
    position: absolute; 
    background-color:rgb(87, 66, 66, 0.5);
    box-shadow: 2px 2px rgb(87, 66, 66, 0.1);
    min-width: 160px;
    padding: 4px;
    z-index: 1;
}

.top {
    display: flex;
    width: auto;
    height: inherit;
    margin-bottom: 1%;
    background-color: rgb(73,197,177);
    border-radius: 10px;
    box-shadow: 5px 3px rgb(33, 133, 129);
    justify-content: center;
    align-items: center;
}

.top a {
    padding: 0%;
}

.top p, h1 {
    color: white;
}

.topmenu {
    flex: 80%;
    padding: 5px;
   
}

.topImage { 
    flex: 20%;
    padding: 1.5em;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.body-container {
    display: flex;
    flex-flow: row nowrap;
}

.flex-item-left {
    flex: 20%;
    background-color: rgb(0, 134, 191);
    border-radius: 0.5em;
    box-shadow: 5px 3px rgb(1, 55, 78);
    padding: 1%;
    margin: 1%;
}


.flex-item-right {
    flex: 80%;
    background-color: rgb(255, 158, 27);
    border-radius: 1em;
    padding: 1%;
    box-shadow: 5px 3px rgb(219, 129, 12);
}

.flex-bot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;

}

@media (max-width: 900px) {
    .body-container {
        flex-flow: column;
    }
    .flex-item-left {
        width: 50%;
        align-self: center;
        text-align: center;
    }

    p {
        font-size: 1em;
    }
    a {
        font-size: 1em;
    }
}




